/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body{
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #F3FEB8;
}



#pokemon-content{
  width: 50%;
}

#pokemon-one-wrap, #pokemon-two-wrap{
  display: flex;
  width: 100%;
  justify-content: left;
}

#pokemon-one-wrap{
  background-color: #FFB22C;
  
}

#pokemon-two-wrap{
  background-color: #FF4C4C;
}

#pokemon-one-spec-wrap, #pokemon-two-spec-wrap{
  margin-top: 10px;
  margin-left: 2rem;
}
#pokemon-content{
  margin: auto;
  background-color: black;
  display: flex;
  overflow: hidden;
  width: 75vw;  
  height: 41vh;
}

.pokemon-input-container{
  
}

.IVs-title{
  padding-right: 6.5px;
}


input{
  border: unset;
  box-shadow: 1px 2px 3px 1px #3C3013,
inset 1px 1px 1px 0.5px #4C4023,
inset -1px -1px 1px 0.5px #8C8083;
  background: rgb(245, 240, 240);
  padding: 0.5rem;
}

/*
.btn-submit{
  border: unset;
  background: #268f26;
  padding: 0.5rem;
  color: #ffffff;
  cursor: pointer;
}*/

.autocomplete-wrapper{
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
}

.autocomplete-list{
  list-style: none;
  padding: unset;
  margin: unset;
  position: absolute;
  width: 100%;
}

.autocomplete-list li{
  border: 1px solid #e9e9e9;
  border-top: unset;
}

.autocomplete-list li:hover{
  background-color: lightsalmon;
}

.autocomplete-list button{
  border: unset;
  background: unset;
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
}

.nature-wrapper{
  display: flex;
  height: 1rem;
  align-items: center;
}
.level-wrapper{
  display: flex;
  height: 2rem;
  border: unset;
  padding: unset;
  width: 100%;
  align-items: center;
}
.level-title, .nature-title{
  border: unset;
  padding-right: 0.5rem;
}

.input-box{
  height: 1.3rem;
}

.EVs-wrapper, .IVs-wrapper{
  margin-top: 10px;
}